@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

.container {
  box-sizing: border-box;
  border: 1px dashed black;
  background: url('https://gustavoguanabara.github.io/html-css/imagens/mascote.png') no-repeat left bottom;
  background-size: 100px;
  height: 100vh;
  width: 100vw;
}


