@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  justify-content: center;
}

.bloco {
  width: 80vw;
  height: 160px;
  border: 1px solid black;
  border-radius: 20px;
  margin: 10px;
  background: url("../imagens/wallpaper003.jpg");
}

.q1 {
  background-position: left top;
}

.q2 {
  background-position: left center;
}

.q3 {
  background-position: right bottom;
}

.q4 {
  background-position: center center;
}
