@charset "utf-8";


* {
  font-family: arial;
}

input {
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
}

div {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr 1fr 1fr 3fr;
  text-align: center;
  width: 50vw;
  background: rgb(179, 134, 134);
  padding: 15px 30px;
  margin: 5px;
  gap: 5px;
}

h1 {
  grid-column: 1/-1;
  justify-items: stretch;
}

.i1, .i2 {
 width:70px;
}

.i3 {
  width: auto;
}

output {
  background: red;
  text-align: center;
  line-height: 50px;
}