@charset "utf-8";

* {
  font-family: arial;
  text-align: center;
  margin: 50px;
  background: rgba(128, 128, 128, 0.205);
}

body {
  height: 60vh;
}

input {
  margin: 20px auto;
  width: 200px;
  height: 50px;
  display: block;
}

div {
  margin: auto;
  width: 400px;
  height: 100px;
  background: lightcyan;
}