img {
  max-width: 100%;
  display: block;
}
p {
  font-size: 2rem;
}

body {
  display: grid;
  gap: 20px;
}

.minmax, .galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1rem;
}

@media (max-width: 680px) {
  .minmax img {
    grid-row: 2;
    margin-bottom: 1rem;
  }
}

.galeria {
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
