* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 50px;
}

.titulo {
  text-align: center;
  color: #111;
}

.carro,
.bike {
  border-radius: 4px;
  background: #111;
  color: #fff;
  padding: 20px;
  margin-bottom: 10px;
}

span {
  color: #febe01;
}

.btn {
  text-decoration: none;
  color: #332100;
  background: #febe01;
  border-radius: 4px;
  border: none;
  padding: 10px;
  display: inline-block;
}
