@charset "utf-8";

body {
  font-family: Arial;
  background: lightslategray;
}

table {
  border-collapse: collapse;
  text-align: center;
  width: 300px;
}

td {
  border: 1px solid black;
  padding: 10px;
}